* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#meme-insert {
  margin-top: 10px;
}

#meme-image-container {
  margin-top: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 500px;
  height: 500px;
}

#meme-text {
  text-shadow: black 5px 5px 5px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  margin-top: 1em;
  max-width: 400px;
  position: absolute;
  overflow-wrap: break-word;
}

#meme-image {
  width: 100%;
  height: 100%;
}

#fire,
#water,
#earth {
  padding: 20px 40px;
  margin: 10px;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

#memes-example {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

#meme-1,
#meme-2,
#meme-3,
#meme-4 {
  width: 100px;
  border: 1px solid black;
}
